.banner {
  height: 80vh;
  border: 1px solid;
}
.banner_content {
  margin-top: 15%;
  margin-left: 2%;
  color: white;
  width: 30%;
}
.banner_buttons {
  padding: 1rem 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_buttons button {
  height: 10vh;
  width: 40%;
}
.myList {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  background: transparent;
}
.play {
  font-size: 2rem;
  font-weight: 500;
}
